bin/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/
gen/
gen/me/huxos/checkout/BuildConfig.java
gen/me/huxos/checkout/R.java
libs/android-support-v4.jar
lint.xml
project.properties
gradlew.bat
gradlew
gradle
build
.idea
.gradle
