<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.huxos.checkout"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    <!-- 使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
   	<!-- 在其他程序之上显示窗口的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 过去呼出电话的权限 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>

    <!-- 注册Activity BroadCastreceiver -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.huxos.checkout.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.huxos.checkout.SettingsActivity"
            android:label="@string/action_settings" >
        </activity>
        
		<!-- BoradcastReceiver -->
        <receiver android:name="me.huxos.checkout.PhoneStatReceiver" >
            <intent-filter>
                <!-- 获取来电广播 -->
                <action android:name="android.intent.action.PHONE_STATE" />
                <!-- 获取去电广播 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>